@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

@import 'tailwindcss';
@import 'fumadocs-ui/css/neutral.css';
@import 'fumadocs-ui/css/preset.css';



:root {
  --color-fd-background: #FBFBF6;
}
.dark {
  --color-fd-background: #19191C;
}



@theme{
    --font-DM-Sans : "DM Sans", sans-serif; 
    --font-UX: "UX" , sans-serif;
    --font-Italic: "Italic", sans-serif;
    --font-PPE: "PPE", sans-serif;
    --font-Playfair:"Playfair Display", serif;
    --font-Thames : "ThamesCondensed", sans-serif;
}


@font-face {
    font-family: "UX";
    src: url('UxmBold.otf');
}
@font-face {
    font-family: "Italic";
    src: url('italic.otf');
}

@font-face {
    font-family: "PPE";
    src: url('PPEditorialNew-UltralightItalic-BF644b214ff1e9b.otf') format("opentype");
}

@font-face {
    font-family: "Thames";
    src: url('ThamesCondensed Regular.ttf');
}




@layer base {
    p{
        @apply dark:text-gray-400  text-gray-700 
    }
}


@layer components{
    .stack-icon{
        @apply h-[34px] 
    }
    .why-card{
        @apply dark:bg-[#161618] bg-[#F7F7F8]
    }
    .hero-btn{
        @apply py-2 px-3 rounded-xl font-medium active:scale-95
    }

    /* .icon {
        @apply h-10 w-10 object-contain transition-transform duration-200 hover:scale-110;
    } */
    .icon-wrapper {
        @apply h-14 w-14 flex items-center justify-center rounded-xl 
            shadow-md bg-white dark:bg-gray-100
            border border-gray-200/20 
            hover:scale-105 transition-transform;
    }

    .icon {
        @apply h-8 w-8 object-contain;
    }
    .fumadocs-toc a.active {
  @apply text-blue-500 font-medium;
}

}

